// Header
.page-header {
  padding: 3em 0;
  color: $blue-dark;
}
h1 {
  font-size: 4em;
  margin: 0;
  line-height: 1.2;
}
.author {
  font-size: 2em;
  margin: 0;
  color: $gray;
}

@media (max-device-width: 480px) {
  .page-header {
    padding: 2em 0 ;
    h1, .author {
      font-size: 2em;
    }
  }
}
