// _variables.scss

$border-width: 0.125em;

// Colors
$white: #fff;
$black: #333;
$gray: #ccc;
$gray-light: #fafafa;

$pink: #FF758E;
$pink-light: #FFF4F7;
$blue-light: #E5FEFE;
$blue: #ABF5F5;
$blue-dark: #26A6A8;
$white: #fff;
$black: #082324;

$orange: #FFA259;
$orange-light: #FFF8F4;
$yellow: #F0CC11;
$yellow-light: #FFF9E7;
